<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    .tooltip {
      position: relative;
      display:inline-block;
      border-bottom: 1px dotted black;
      font-size: 12px;
    }

    .parsed {
      display: inline-block;
      float: right;
    }

    .parsed-year, .parsed-title {
      display: inline-block;
    }

</style>

<body style="margin-left: 20px">
    <h5><a href="/"> Go Home </a></h5>

    <div style="display:inline-block">

        <form method="post" action="/update-dump-location">
            <input type="text" size="50" name="dump_location" value={% if config %} {{ config.dump_location }} {% endif %}>
            <input type="submit" value="Update">
        </form>

    </div>

    <div style="display:inline-block">
        <form method="post", action="/scan">
            <button type="submit"> Scan </button>
        </form>
    </div>

    <h3>Here is the list of new items to be added</h3>

    <div class="actions"> Actions
        <div style="display:inline-block">
            <form method="post", action="/parse">
                <button type="submit"> Parse </button>
            </form>
        </div>

        <div style="display:inline-block">
            <form method="post", action="/queue">
                <button type="submit"> Finalize </button>
            </form>
        </div>

        <div style="display:inline-block">
            <form method="post", action="/queue">
                <button type="submit"> Load Into Plex </button>
            </form>
        </div>

        <div style="display:inline-block">
            <form method="post", action="/cleanup">
                <button type="submit"> Cleanup </button>
            </form>
        </div>

    </div>

    {% for record in records %}
    <div style="margin-bottom: 1px">
        <div style="display:inline-block">
            <p style="display:inline-block">{{ record.ExtractedMovies.raw_torrent_name }} </p>
            <div class="tooltip"> System Location
                <span class="tooltiptext">
                    {{ record.full_path_loc }}
                </span>
            </div>

            <div class="parsed">
                <div>
                    <p style="display:inline-block"></p>
                    <form style="display:inline-block" method="post" action="/update-parsed-data">
                        <input type="hidden" name="id" value="{{ record.id }}">
                        <input type="hidden" name="raw_torrent_name" value="{{ record.ExtractedMovies.raw_torrent_name }}">
                        <span>Title: <input type="text" size="40" name="parsed_title" value="{{ record.parsed_title }}"></span>
                        <span>Year: <input type="text" size="6" name="parsed_year", value="{{ record.parsed_year }}"></span>
                        <input type="submit" value="Update">
                    </form>
                </div>

            </div>

        </div>

    </div>

    {% endfor %}

</body>
</html>